<?xml version="1.0"?>

<model>
  <name>Mountains</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Shilong Wang</name>
    <email>wangshilong1537@gmail.com</email>
  </author>

  <depend>
    <model>
      <uri>model://mountains</uri>
      <version>1.0</version>
    </model>
  </depend>

  <description>
    Mountains.
  </description>
</model>
